.cart-banner .row{min-height: 30vh;}
#cartWrapper #cartItems .img-container{width: 9.375rem;height: 9.375rem;}
#cartWrapper #cartItems .img-container img{max-height: 6.25rem;}
#cartWrapper #cartItems .variant{width: 1.25rem;height: 1.25rem;}
#cartWrapper #cartItems .quantity-input{max-width: 10.625rem;}