.products-container .product-content .img-container img{max-height: 21.875rem;}
.products-container .product-content .img-container .varient-colors li a{width: 1.25rem;height: 1.25rem;}
.products-container .product-content .action .add-to-favorite{width: 2.875rem;}
.products-container .product-content{padding-bottom: 2.875rem;}