.products-container .product-content .img-container img{max-height: 21.875rem;}
.products-container .product-content .img-container .splide__pagination{position: static;gap: 1rem;margin-top: 1.5rem;}
.products-container .product-content .img-container .splide__pagination li{margin: 0;}
.products-container .product-content .img-container .splide__pagination li .splide__pagination__page{width: 1.25rem;height: 1.25rem;border: 0.125rem solid var(--bs-white);margin: 0;opacity: 1;}
.products-container .product-content .img-container .splide__pagination li  .splide__pagination__page.is-active{border-color: var(--variant-base-color);transform: scale(1.2);}
.products-container .product-content .action .add-to-favorite{width: 2.875rem;}
.products-container .product-content{padding-bottom: 2.875rem;}