.top-categories #categories .category-content .category-icon{border-radius: 5rem;border-top-right-radius: 2.5rem;}
.top-categories #categories .category-content:hover .category-icon{box-shadow: -0.125rem 0.25rem 0 0px var(--bs-primary);}
.top-categories #categories .category-content .category-icon img{height: 6.25rem;}