@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --bs-font-sans-serif: "Inter", sans-serif;
    --bs-body-line-height: 1.625rem;
    --bs-body-color: #333333;
    --bs-heading-color: #000000;
    --bs-primary: #006D5B;
    --bs-primary-rgb: 0, 109, 91;
    --bs-link-color-rgb: var(--bs-body-color);
    --bs-link-hover-color-rgb: var(--bs-primary-rgb);
    --bs-light: #F6F6F6;
    --bs-light-rgb: 246, 246, 246;
    --bs-border-color: #E2E2E2;
    --bs-gray-100: #F2F2F2;
    --bs-gray-200: #F2EDED;
    --bs-gray-500: #B0B0B0;
    --bs-gray-600: #5F5F5F;
    --theme-gradient: linear-gradient( 135deg, #95C185, #95D4FF );
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{font-weight: 700;}
h1, .h1{font-size: 3.25rem;line-height: 3.875rem;margin-bottom: 1.875rem;}
h2, .h2{font-size: 2.5rem;line-height: 3.125rem;margin-bottom: 1.875rem;}
h3, .h3{font-size: 2rem;line-height: 2.625rem;margin-bottom: 1.5rem;}
h5, .h5{font-size: 1.375rem;line-height: 2rem;margin-bottom: 1rem;}
h6, .h6{font-size: 1.25rem;line-height: 1.625rem;margin-bottom: 1rem;}
a{display: inline-block;text-decoration: none;transition: all 0.3s ease-in-out;}
p:last-of-type{margin-bottom: 0;}
ul{padding-left: 0.813rem;margin-bottom: 0;}
li:not(:last-child){margin-bottom: 0.5rem;}
p + ul{margin-top: 1rem;}
/*inputs*/
.form-control, .form-select{background-color: var(--bs-gray-100);padding: 0.75rem 1.5rem;border-radius: 3.125rem;border-color: var(--bs-gray-200);}
.form-control:focus, .form-select:focus{background-color: var(--bs-gray-100);border-color: var(--bs-primary);}
.form-control::-webkit-input-placeholder{color: var(--bs-gray-500);}
.form-control::-moz-placeholder{color: var(--bs-gray-500);}
.form-control:-ms-input-placeholder{color: var(--bs-gray-500);}
.form-control:-moz-placeholder{color: var(--bs-gray-500);}
.form-check-input{border-width: 0.125rem;}
.form-check-input:focus{border-color: var(--bs-border-color);}
.form-check-input:checked{background-color: var(--bs-primary);border-color: var(--bs-primary);}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{-webkit-appearance: none;}
input[type=number]{-moz-appearance: textfield;}
/*inputs*/
/*buttons*/
.btn{--bs-btn-font-family: var(--bs-font-sans-serif);--bs-btn-font-size: 0.875rem;--bs-btn-line-height: 1.5rem;--bs-btn-font-weight: 600;letter-spacing: 0.031rem;text-transform: uppercase;--bs-btn-padding-x: 1.5rem;--bs-btn-padding-y: 0.688rem;--bs-btn-border-width: 0.125rem;--bs-btn-border-radius: 3.125rem;transition: all 0.3s ease-in-out;}
.btn-primary{--bs-btn-bg: var(--bs-primary);--bs-btn-border-color: var(--bs-primary);--bs-btn-hover-color: var(--bs-primary);--bs-btn-hover-bg: transparent;--bs-btn-hover-border-color: var(--bs-primary);--bs-btn-active-bg: var(--bs-primary);--bs-btn-active-border-color: var(--bs-primary);--bs-btn-disabled-bg: var(--bs-primary);--bs-btn-disabled-border-color: var(--bs-primary);}
.btn-outline-primary{--bs-btn-color: var(--bs-primary);--bs-btn-border-color: var(--bs-primary);--bs-btn-hover-bg: var(--bs-primary);--bs-btn-hover-border-color: var(--bs-primary);--bs-btn-active-color: var(--bs-primary);--bs-btn-active-bg: transparent;--bs-btn-active-border-color: var(--bs-primary);--bs-btn-disabled-color: var(--bs-primary);--bs-btn-disabled-border-color: var(--bs-primary);}
.btn-light{--bs-btn-bg: var(--bs-white);--bs-btn-color: var(--bs-primary);--bs-btn-border-color: var(--bs-white);--bs-btn-hover-color: var(--bs-white);--bs-btn-hover-bg: var(--bs-primary);--bs-btn-hover-border-color: var(--bs-white);--bs-btn-active-color: var(--bs-primary);--bs-btn-active-bg: var(--bs-white);--bs-btn-active-border-color: var(--bs-white);--bs-btn-disabled-color: var(--bs-primary);--bs-btn-disabled-bg: var(--bs-white);--bs-btn-disabled-border-color: var(--bs-white);box-shadow: 0 0.188rem 0 var(--bs-primary);}
.btn.btn-sm{--bs-btn-padding-y: 0.625rem;--bs-btn-font-weight: 500;letter-spacing: 0;--bs-btn-border-width: 0.063rem;}
/*buttons*/
/*tabs*/
.nav-tabs .nav-item a.active{color: var(--bs-primary);position: relative;}
.nav-tabs .nav-item a.active::after{content: '';display: block;width: 100%;height: 0.188rem;background-color: var(--bs-primary);position: absolute;left: 0;right: 0;bottom: 0;border-top-right-radius: 0.25rem;border-top-left-radius: 0.25rem;}
/*tabs*/
/*helper class*/
.fs-xs{font-size: 0.75rem;line-height: 1.375rem;}.fs-sm{font-size: 0.875rem;line-height: 1.5rem;}.fs-md{font-size: 1.125rem;line-height: 1.75rem;}.fs-lg{font-size: 1.25rem;line-height: 1.875rem;}
.fw-thin{font-weight: 100;}.fw-extra-light{font-weight: 200;}
.text-gray-600{color: var(--bs-gray-600);}
.theme-gradient{background-image: var(--theme-gradient);}
.rounded-16{border-radius: 1rem;}.rounded-24{border-radius: 1.5rem;}.rounded-32{border-radius: 2rem;}
.py-70{padding-top: 4.375rem;padding-bottom: 4.375rem;}.pt-70{padding-top: 4.375rem;}
.cursor-pointer{cursor: pointer;}
.bg-cover{background-size: cover;}.bg-center{background-position: center;}
.transition-3{transition: all 0.3s ease-in-out;}
.alert{--bs-alert-padding-x: 0.75rem;--bs-alert-padding-y: 0.5rem;--bs-alert-border: 0;--bs-alert-margin-bottom: 0;}
.dropdown .dropdown-toggle::after{display: none;}
.dropdown-menu{--bs-dropdown-min-width: 11.25rem}
.dropdown-menu .dropdown-item{font-weight: 500;}
.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover{color: var(--bs-primary);background-color: transparent;}
.placeholder{min-height: unset;}
.shadow-md{box-shadow: 0 0.25rem 0.625rem rgba(var(--bs-black-rgb), 0.2);}
.splide:not(.is-overflow) .splide__pagination{display: flex;}
/*helper class*/
/*****header*****/
.navbar{--bs-navbar-color: var(--bs-body-color);--bs-navbar-active-color: var(--bs-primary);--bs-navbar-hover-color: var(--bs-primary);--bs-navbar-nav-link-padding-x: 0;}
.navbar-nav{--bs-nav-link-font-weight: 500;--bs-nav-link-padding-y: 2rem;}
header#mainHeader .navbar .navbar-action #cart .cart-badge{width: 1.563rem;height: 1.563rem;top: -0.25rem;box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-black-rgb), 0.20);}
header#mainHeader .navbar .navbar-nav .nav-item .nav-link.active{position: relative;font-weight: 600;}
header#mainHeader .navbar .navbar-nav .nav-item .nav-link.active::before{content: '';display: block;width: 100%;height: 0.188rem;background-color: var(--bs-primary);position: absolute;left: 0;right: 0;bottom: 0;border-top-right-radius: 0.25rem;border-top-left-radius: 0.25rem;}
/*****header*****/
/*****footer*****/
footer#footer .footer-middle .logo{max-height: 2rem;}
footer#footer .footer-middle .social-icons li a{color: var(--bs-primary);width: 2rem;height: 2rem;border-top-left-radius: 0.625rem;border-bottom-right-radius: 0.625rem;}
footer#footer .footer-middle .social-icons li a:hover{background-color: var(--bs-primary);color: var(--bs-white);}
/*****footer*****/